<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <button id="close-modal" title="Cerrar">&times;</button>
  <form id="form-gastos">
    <h1>Cheques y gastos</h1>
    <div class="form-section"> 
      <div class="section">
        <div class="form-group">
          <label for="tipo" >Tipo:</label>
          <select name="tipo" id="tipo">
            <option value="Cheque">Cheque</option>
            <option value="InteresesDelPlazo">Intereses del plazo</option>
            <option value="ISRInversionPlazo">ISR Inversión Plazo</option>
            <option value="RenovacionInversionPlazo">Renovacion Inversión Plazo</option>
            <option value="ComisionChequeExpedido">Comisión Cheque Expedido</option>
            <option value="IVA">IVA</option>
          </select>
        </div>
        <div class="form-group">
            <label for="no-cheque" >No. Cheque:</label>
            <input type="text" id="no-cheque" name="no-cheque"  required >
        </div>
        <div class="form-group" id="nombre-input-section">
          <label for="nombre" >Nombre:</label>
          <input type="text" id="nombre" name="nombre"  required >
        </div>
      </div>
      <div class="section">
        <div class="form-group" id="motivo-input-section">
          <label for="motivo" >Motivo:</label>
          <input type="text" id="motivo" name="motivo"  required >
        </div>
        <div class="form-group">
          <label for="fecha" >Fecha:</label>
          <input type="text" id="fecha" name="fecha"  required >
        </div>
        <div class="form-group">
          <label for="monto" >Monto:</label>
          <input type="number" id="monto" name="monto"  required >
        </div>
      </div>
      <button type="submit" class="centerButton" id="nuevo-cheque">Nuevo Cheque</button>
    </div>
    <form class="form-search-gastos" id="form-search-gastos">
      <div class="search-container">
          <div class="input-container">
              <p>Mes</p>
              <select name="mes" id="mes">
                  <option value="1">Enero</option>
                  <option value="2">Febrero</option>
                  <option value="3">Marzo</option>
                  <option value="4">Abril</option>
                  <option value="5">Mayo</option>
                  <option value="6">Junio</option>
                  <option value="7">Julio</option>
                  <option value="8">Agosto</option>
                  <option value="9">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
              </select>
              
          </div>
          <div class="input-container">
              <p>Año</p>
              <input type="text"  id="year" class="input-search" placeholder="(aaaa)" >
          </div>
          <div class="input-container">
            <button id="searchGastos" class="search-button">Buscar</button>
        </div>
      </div>
  </form>
    <div class="table-container" id="tablePagosPrestamos">
      <table class="user-table">
        <thead>
          <tr>
              <th>No.</th>
              <th>Fecha</th>
              <th>No. Cheque</th>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Motivo</th>
              <th>Monto</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody id="user-table-body-cheques">
          <!-- Aquí se insertarán los usuarios dinámicamente -->
        </tbody>
      </table>
      <div id="info"></div>
    </div>
  </form>
</body>

</html>
