body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 1100px;
    margin: 20px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2, h3 {
    text-align: center;
    color: #333;
  }

  .section{
    display: flex;
    flex-direction: row;
  }

  /* Prestamos refinanciados */

  /* CSS para la sección de préstamos refinanciados */
.refinanciados-section, .pagados-section {
  margin-bottom: 30px;
}

.accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header-refinanciado, .accordion-header-pagados {
  background-color: #07509d;
  cursor: pointer;
  padding: 15px;
  text-align: left;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.accordion-header:hover {
  background-color: #3067a2;
}

.accordion-header[aria-expanded="true"] {
  background-color: #087ff6;
}

.accordion-body {
  padding-left: 40px;
  padding-top: 10px;
  background-color: #fff;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}



.accordion-body p {
  margin: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
}

  /* Prestamo Activo Seccion */

.active-loan-section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.active-loan-section h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.loan-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-item {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 15px);
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.value {
    color: #000;
    font-size: 1rem;
}


  .form-section {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #fafafa;
    margin-bottom: 30px;
  }

  #monto{
    width: 160px;
  }

  #noCatorcenas{
    width: 50px;
  }

  #totalPrestamo{
    width: 180px;
  }

  #fecha{
    width: 80px;
  }

  #noAnios{
    width: 160px;
  }

  #interes{
    width: 50px;
  }

  #cantidadMeses{
    width: 30px;
  }

  #interesesPrestamo{
    width: 80px;
  }

  #restanteAbonoSection{
    width: 225px;
  }

  #restanteAbono{
    width: 30px;
  }

  .form-section h3 {
    margin-top: 0;
    color: #444;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
  }

  .form-group label {
    flex: 1 1 200px;
    font-weight: bold;
    color: #555;
  }

  .form-group input, 
  .form-group select {
    flex: 2 1 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
  }

  /* Table Styling */
  .table-container {
    overflow-x: auto;
  }

  .hidden {
    display: none; /* Hides the element */
  }
  .visible {
    display: inherit; /* Makes the element visible */
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
  }
  
  .user-table th,
  .user-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .user-table th {
    background-color: #122443ce;
    color: white;
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .user-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .user-table td {
    word-wrap: break-word;
    max-width: 200px;
  }

  .container button {
    width: 30%;
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(0, 145, 0);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .refinanciar-button{
    margin-left: 0px;
    width: 10%;
    font-size: 16px;
    padding: 5px;
  }

  .refinanciar-button:hover{
    background-color: rgb(3, 203, 3);
  }


  .button-delete{
    background-color: red;
    width: 100%;
    font-size: 16px;
    padding: 5px;
  }

  .button-delete:hover{
    background-color: rgb(249, 90, 90);
  }

  button:hover {
    background-color: #0056b3;
  }

