<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <button id="close-modal">X</button>
  <h1>Agregar Actividad Economica</h1>
  <form  id="ActividadForm">
    <input type="text" name="ActividadEconomica" id="ActividadEconomica">
    <button type="submit">Agregar Actividad Económica</button>
    <p id="info"></p>
  </form>
    
</body>
</html>
