body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    height: 100vh; /* Ocupar toda la pantalla */
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centrar elementos dentro del formulario */
    width: 100%;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 30px;
}

button {
    width: 40%;
    background-color: #5ba941;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

#info{
    color: #5ba941;
    font-size: 18px;
    font-weight: bold;
}

#close-modal {
    width: 40%;
    background-color: red;
}

/* Botón de cerrar en la esquina superior derecha */
#close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Efecto de hover */
#close-modal:hover {
    background-color: darkred;
}