<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <button id="close-modal-cheque" title="Cerrar">&times;</button>
  <div class="container">
    <input type="number" id="year" placeholder="Año">
    <div class="table-container" id="tablePagosPrestamos">
      <table class="catorcena-table">
        <thead>
          <tr>
              <th>No.</th>
              <th>Fecha</th>
          </tr>
        </thead>
        <tbody id="catorcena-table-body-cheques">
          <!-- Aquí se insertarán los usuarios dinámicamente -->
        </tbody>
      </table>
      <div id="info">Ingresa un año.</div>
    </div>
  </div>
</body>

</html>
