body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    height: 100vh; /* Ocupar toda la pantalla */
    margin: 0;
}

/* Botón de cerrar en la esquina superior derecha */
#close-modal-cheque {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centrar elementos dentro del formulario */
    width: 95%;
}
