body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    height: 100vh; /* Ocupar toda la pantalla */
    margin: 0;
}

/* Botón de cerrar en la esquina superior derecha */
#close-modal-cheque {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centrar elementos dentro del formulario */
    width: 95%;
}


input {
    padding: 8px;
    font-size: 16px;
    width: 20%;
    border: 1px solid #122443ce;;
    border-radius: 5px;
}

.catorcena-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
}
  
.catorcena-table th,
.catorcena-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}
  
.catorcena-table th {
    background-color: #122443ce;
    color: white;
}
  
.catorcena-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.catorcena-table tbody tr:hover {
    background-color: #f1f1f1;
}
  
.catorcena-table td {
    word-wrap: break-word;
    max-width: 200px;
}

