.container {
    max-width: 90%;
    margin: 20px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 /* Prestamo Activo Seccion */



.total-section h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.total-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 15px);
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.value {
  color: #000;
  font-size: 1rem;
}


h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.form-conciliacion{
    flex-direction: row;
}

.search-container{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;

}

.input-container{
    margin: 20px;
}

input, select {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.saldo-display{
  padding-top: 5px;
}

button {
    margin-top: 55px;
    margin-left: 10px;
    height: 30px;
    width: 120px;
    background-color: rgb(0, 145, 0);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#searchConciliacion{
  margin-left: 0px;
  background-color: #003366 !important;
}

input[type="checkbox"] {
  margin-top: 65px;
}

.table-container {
    overflow-x: auto;
}

.conciliacion-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
}

.conciliacion-table th,
.conciliacion-table td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.conciliacion-table th {
  background-color: #122443ce;
  color: white;
}

.monto-th, .saldo-th{
  width: 170px;
}

/* Estilo específico para la columna Descripción */
.conciliacion-table th:nth-child(4),
.conciliacion-table td:nth-child(4) {
    width: 250px;
    max-width: 250px;
}

.conciliacion-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.conciliacion-table tbody tr:hover {
  background-color: #f1f1f1;
}

.conciliacion-table td {
  word-wrap: break-word;
  max-width: 200px;
}

.less-red{
  color: red;
}

.more-green{
  color: rgb(0, 113, 32);
}

#StatusRegistro{
  font-size: 18px;
  font-weight: 600;
}