/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
  }
  
  /* Form Styling */
  .form-container {
    margin-bottom: 30px;
  }
  
  form {
    display: grid;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #122443ce;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .searchTableContainer{
    display: flex;
    flex-direction: row;
  }

  .selectCategory{
    width: 150px;
  }

  .inputCategory{
    margin-left: 40px;
    width: 250px;
  }
  
  /* Table Styling */
  .table-container {
    overflow-x: auto;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
  }
  
  .user-table th,
  .user-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .user-table th {
    background-color: #122443ce;
    color: white;
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .user-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .user-table td {
    word-wrap: break-word;
    max-width: 200px;
  }
  
  /* Buttons Styling */
  .actions {
    text-align: center;
    margin-top: 30px;
  }
  
  .action-btn {
    background-color: #1551b8ce;
    color: white;
    padding: 12px 24px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 50px;
    width: 120px;
  }
  
  .action-btn:hover {
    background-color: #1551b8a9;
  }
  
  .action-btn:active {
    background-color: #1551b8a9;
  }
  